/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
composer.phar
composer.lock
/static_backup
/bootstrap/cache/*
/storage/framework/cache/data/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/logs/*
.phpunit.cache
node_modules/
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.vscode/
logo-library.zip
